# Ignore folders.
.cloud
.storage
.vscode
.ssh
deps
tts
www/community

# Ignore files
# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
home-assistant.log
home-assistant_v2.db
secrets.yaml
/.vscode/settings.json
known_devices.yaml
SERVICE_ACCOUNT.json