# Ignore folders.
.cloud
.storage
.vscode
.ssh
custom_components
deps
image
tts
www/community
www/presence

# Ignore files
# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
.HA_VERSION
home-assistant.log
home-assistant_v2.db
secrets.yaml
/.vscode/settings.json
known_devices.yaml.old
SERVICE_ACCOUNT.json
core.*
*gitignore*
core
*.token
*.db*
*.log
*.jpg
*.mp4
*.png